@Layout{
  Layout = "Shared/_Layout.cshtml"
}

<form class="" action="/submit" method="post">
  <label for="time">Enter Time:</label>
  <input type="time" name="time">
  <button type="submit" name="button">Submit</button>
</form>
