@{
  Layout = "Shared/_Layout.cshtml";
}

<div class="row">
  <div class="forms">
    <form class="" action="/submit" method="post">
      <label for="time"><h1>Enter Time:</h1></label>
      <input class="form" type="time" name="time" required>
      <button class="btn" type="submit" name="button">Submit</button>
    </form>
  </div>
</div>
